.pw-info {
  display: block;
  padding: 12px;
  background-color: #075392;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  span {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 400;
  }
  &__link {
    display: inline-block;
    border-bottom: 1px solid #26689f;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__phone {
    display: inline-block;
    color: #ffffff !important;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700 !important;
    cursor: pointer;
  }
  &__call {
    display: inline-block;
    color: #ffc000;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.pw-header {
  display: block;
  padding: 0;
  background-color: #0b5fa5;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__switcher {
    display: none;
    padding: 10px;
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      a {
        display: inline-block;
        padding: 28px 12px;
        font-family: "Gotham Pro";
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #ffc000;
          text-decoration: none;
        }
      }
    }
  }
  &__droper {
    position: relative;
    &:hover {
      .pw-header__drop {
        display: block;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background-color: #075392;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    z-index: 100;
    li {
      display: block;
      a {
        display: block;
        padding: 6px 12px;
      }
    }
  }
}

.pw-banners {
  display: block;
  &__card {
    width: 100%;
    height: 485px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
    }
    ul {
      display: block;
      margin-bottom: 50px;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin-bottom: 12px;
        padding-left: 35px;
        text-shadow: 0 4px 0 rgba(0, 47, 85, 0.13);
        color: #ffffff;
        font-family: "Gotham Pro";
        font-size: 24px;
        font-weight: 700;
        &:before {
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          width: 21px;
          height: 21px;
          margin-top: -10px;
          content: '';
          background: url('../images/icon_ul.png') no-repeat center;
        }
      }
    }
    p {
      max-width: 610px;
    }
  }
  &__button {
    display: inline-block;
    padding: 18px 50px;
    border-radius: 10px;
    background-color: #0b5fa5;
    color: #fefefe;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #075392;
      color: #fefefe;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    max-width: 610px;
    margin-bottom: 50px;
    text-shadow: 0 4px 0 rgba(0, 47, 85, 0.13);
    color: #fcfdff;
    font-family: "Gotham Pro";
    font-size: 42px;
    font-weight: 900;
  }
  .slick-dots {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 100%;
    top: 0;
    bottom: auto;
    right: 20%;
  }
  .slick-dots li button:before {
    width: 10px;
    height: 10px;
    content: '';
    background-color: transparent;
    border: 1px solid #214870;
    opacity: 1;
  }
  .slick-dots li.slick-active button:before {
    background-color: #214870;
    opacity: 1;
  }
}

.pw-features {
  display: block;
  padding: 90px 0;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 370px;
    height: 360px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #0b5fa5;
    background-image: radial-gradient(circle 231px at center, rgba(38, 131, 208, 0.88) 0%, rgba(38, 131, 208, 0) 100%);
    padding: 30px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #ffc000;
      color: #ffffff;
      text-decoration: none;
    }
    img {
      display: block;
      max-width: 100%;
      height: 190px;
      margin-bottom: 30px;
      object-fit: contain;
    }
    &-title {
      display: block;
      color: #ffffff;
      font-family: "Gotham Pro";
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.pw-why {
  display: block;
  padding: 90px 0 60px 0;
  background: url('../images/home_2.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #feffff;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1030px;
    margin: 0 auto;
  }
  &__card {
    display: inline-flex;
    align-items: stretch;
    flex: 0 1 500px;
    margin-bottom: 30px;
    box-shadow: 0 12px 40px rgba(23, 23, 23, 0.06);
    border-radius: 10px;
    background-color: #ffffff;
    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 117px;
      height: 117px;
      border-radius: 10px 0 0 10px;
      background-color: #ffc000;
    }
    &-title {
      display: inline-flex;
      align-items: center;
      flex: 1;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.44;
      padding: 10px 40px;
    }
  }
}

.pw-how {
  display: block;
  padding: 90px 0;
  background-color: #f3f3f3;
  &__title {
    display: block;
    margin-bottom: 75px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__button {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    padding: 18px 50px;
    border-radius: 10px;
    background-color: #ffc000;
    text-shadow: 0 3px 3px rgba(31, 31, 31, 0.29);
    color: #fefefe;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #0b5fa5;
      color: #fefefe;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex: 0 1 260px;
    margin-bottom: 25px;
    text-align: center;
    &_step {
      &:after {
        display: block;
        position: absolute;
        left: 55%;
        top: 25px;
        width: 404px;
        height: 65px;
        content: '';
        background: url('../images/icon_step.png') no-repeat center;
        background-size: cover;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 125px;
      height: 125px;
      margin-bottom: 24px;
      border-radius: 999rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
      span {
        color: rgba(255, 255, 255, 0.64);
        font-family: "Gotham Pro";
        font-size: 36px;
        font-weight: 900;
      }
    }
    &-title {
      display: block;
      margin-bottom: 16px;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 24px;
      font-weight: 900;
    }
    &-line {
      display: block;
      width: 100px;
      height: 3px;
      margin-bottom: 16px;
      background-color: #ffc000;
    }
    p {
      display: block;
      margin: 0;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.pw-reviews {
  direction: block;
  padding: 90px 0;
  &__title {
    display: block;
    position: relative;
    margin-bottom: 110px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 70px;
      left: 50%;
      width: 35px;
      height: 29px;
      margin-left: -17px;
      background: url('../images/icon_quote.png') no-repeat center;
    }
  }
  &__cards {
    display: block;
    width: 100%;
    .slick-next,
    .slick-prev {
      width: 38px;
      height: 38px;
      margin-top: -19px;
    }
    .slick-dots {
      bottom: -50px;
    }
    .slick-dots li button:before {
      color: #ffc000;
      font-size: 13px;
    }
  }
  &__card {
    text-align: center;
    p {
      display: block;
      max-width: 875px;
      margin: 0 auto 18px auto;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
    }
    &-author {
      display: block;
      text-align: center;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.pw-beep {
  display: block;
  padding: 90px 0;
  background: url('../images/home_3.jpg') no-repeat center bottom;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 6px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
  }
  &__select {
    display: block;
    position: relative;
    flex: 0 1;
    width: 400px;
    margin-bottom: 7px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    &:after {
      display: block;
      position: absolute;
      content: '';
      right: 20px;
      top: 50%;
      width: 16px;
      height: 8px;
      margin-top: -4px;
      background: url('../images/icon_select.png') no-repeat center;
      background-size: contain;
    }
    select {
      display: block;
      width: 100%;
      height: 100%;
      padding: 18px 38px 18px 24px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }
  }
  p {
    display: block;
    margin-bottom: 12px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  input {
    display: block;
    flex: 0 1;
    width: 400px;
    margin-bottom: 7px;
    padding: 18px 24px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 300;
    &::-webkit-input-placeholder {
      color: #0b5fa5;
    }
    &::-moz-placeholder {
      color: #0b5fa5;
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
      color: #0b5fa5;
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: #0b5fa5;
    }
  }
  button {
    display: block;
    flex: 0 1;
    width: 400px;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #0b5fa5;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #075392;
      color: #fefefe;
      text-decoration: none;
    }
  }
}

.pw-article {
  display: block;
  padding: 90px 0;
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__sub-title {
    display: block;
    margin-bottom: 25px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__big-image {
    display: block;
    width: 100%;
    margin-bottom: 90px !important;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  &__text {
    padding-top: 40px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    p {
      display: block;
      margin-bottom: 50px;
    }
    strong,
    b {
      font-weight: 700;
    }
    a {
      display: inline;
      border-bottom: 1px solid #a0c3dd;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #0b5fa5;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      margin: 0 0 20px 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin-bottom: 35px;
        padding-left: 35px;
        &:before {
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 6px;
          width: 12px;
          height: 12px;
          background: url('../images/icon_ul_2.png') no-repeat center;
        }
      }
    }
  }
  &__special {
    display: block;
    margin-bottom: 50px;
    padding: 40px 50px;
    border-radius: 3px;
    background-color: #ffc000;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: justify;
    text-align-last: center;
  }
  blockquote {
    display: block;
    margin-bottom: 20px;
    border: none;
    padding: 0 0 0 70px;
    background: url('../images/quote.png') no-repeat left center;
    background-repeat: no-repeat;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }
  p {
    display: block;
    max-width: 770px;
    margin-bottom: 30px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 35px 0;
    color: #0b5fa5;
    font-family: "Gotham Pro";
  }
  h1 {
    font-size: 36px;
    font-weight: 900;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
  }
  h5 {
    font-size: 14px;
    font-weight: 700;
  }
  h6 {
    font-size: 12px;
    font-weight: 700;
  }
}

.h-margin-top-90 {
  margin-top: 90px;
}

.pw-bottom {
  display: block;
  position: relative;
  margin-top: -3px;
  padding-top: 100px;
  iframe {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__info {
    display: block;
    position: relative;
    margin-bottom: 100px;
    padding: 38px 20px 14px 34px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.79);
    z-index: 1;
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    img {
      display: inline-block;
      margin-right: 15px;
    }
    p {
      display: inline-block;
      margin: 0;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    span {
      display: inline-block;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 18px;
      font-weight: 700;
    }
    a {
      display: inline;
      border-bottom: 1px solid #a0c3dd;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #0b5fa5;
        text-decoration: none;
      }
    }
  }
}

.pw-footer {
  display: block;
  position: relative;
  padding: 30px 0 35px 0;
  background-color: rgba(255, 255, 255, 0.79);
  z-index: 1;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 12px;
        color: #0b5fa5;
        font-family: "Gotham Pro";
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    a {
      color: #0b5fa5;
      border-bottom: 1px solid #a0c3dd;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #0b5fa5;
        text-decoration: none;
      }
    }
  }
}

.h-padding-bottom-0 {
  padding-bottom: 0;
}

.pw-breadcrumps {
  display: block;
  padding: 12px;
  background-color: #075392;
  &__this {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 300;
      color: #ffffff;
      a {
        display: inline-block;
        border-bottom: 1px solid #457ead;
        font-family: "Gotham Pro";
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          color: #fccb38;
          text-decoration: none;
        }
      }
      span {
        display: inline-block;
        margin: 0 10px;
        color: #fccb38;
        font-family: "Gotham Pro";
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.pw-news {
  display: block;
  padding: 90px 0;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__cards {
    display: block;
    margin-bottom: 20px;
  }
  &__card {
    display: inline-block;
    width: 354px;
    margin: 0 22px 22px 0;
    border-radius: 10px;
    background-color: #0b5fa5;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffc000;
      text-decoration: none;
    }
    img {
      display: block;
      width: 100%;
      height: 235px;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      padding: 12px;
      overflow: hidden;
      border-radius: 0 0 10px 10px;
      color: #ffffff;
      font-family: "Gotham Pro";
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.pw-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: inline-block;
      margin: 0 2px;
      padding: 8px 11px;
      border: 1px solid #e1e1e1;
      background-color: rgba(255, 255, 255, 0);
      color: #848484;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #e1e1e1;
        text-decoration: none;
      }
    }
  }
  &_active {
    background-color: #e1e1e1 !important;
  }
}

.h-background-light {
  background-color: #f7f7f7;
}

.pw-price {
  display: block;
  padding: 90px 0;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  &__block {
    display: block;
    padding: 30px 25px 35px 25px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    &-head {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
      color: #464646;
      font-size: 16px;
      font-weight: 700;
    }
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0;
      border-bottom: 1px dashed #000001;
      color: #464646;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.pw-work {
  display: block;
  padding: 90px 0;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #0b5fa5;
    font-family: "Gotham Pro";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
}

.pw-collapse {
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    text-decoration: none;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    cursor: pointer;
    span {
      color: #0b5fa5;
      font-size: 24px;
      font-weight: 900;
    }
    &-arrow {
      display: inline-block;
      transition: all 0.15s ease-out;
      &_rotated {
        transform: rotate(270deg) !important;
      }
    }
  }
  &__content {
    display: none;
    padding: 25px 30px 45px 30px;
    &-sub-title {
      display: block;
      margin-bottom: 16px;
      color: #0b5fa5;
      font-size: 18px;
      font-weight: 900;
    }
    p {
      display: block;
      max-width: 735px;
      margin-bottom: 30px;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    ul {
      display: block;
      margin: 0 0 20px 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin-bottom: 14px;
        padding-left: 20px;
        color: #0b5fa5;
        font-family: "Gotham Pro";
        font-size: 16px;
        font-weight: 300;
        &:before {
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 7px;
          width: 7px;
          height: 7px;
          background: url('../images/icon_ul_small.png') no-repeat center;
        }
      }
    }
  }
  &__info {
    display: inline-block;
    margin: 0 80px 10px 0;
    &-title {
      display: block;
      margin-bottom: 10px;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 700;
    }
    span {
      display: block;
      color: #0b5fa5;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 300;
    }
  }
  &__row {
    display: block;
    margin-bottom: 25px;
  }
  &__button {
    display: inline-block;
    padding: 16px 60px;
    border-radius: 10px;
    background-color: #ffcd35;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #0b5fa5;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.pw-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 70px;
  .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 25px;
    background: transparent;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #666565;
    font-size: 16px;
    font-weight: 300;
  }
  form {
    display: block;
    width: 100%;
    max-width: 405px;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #ffcd35;
    }
  }
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #ffcd35;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 17px 32px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background-color: #ffcd35;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}