@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .pw-header__switcher {
    display: inline-block;
  }
  .pw-header__nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 6px 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 101;
    li {
      display: block;
      a {
        display: block;
        padding: 6px 12px;
      }
    }
  }
  .pw-info__link {
    margin: 4px 0;
  }
  .pw-info__phone {
    margin-top: 4px;
  }
  .pw-info__call {
    margin-top: 4px;
  }
  .pw-banners__title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 28px;
  }
  .pw-banners__card {
    background: #ffc000 !important;
  }
  .pw-banners__card ul {
    margin-bottom: 20px;
    li {
      font-size: 20px;
    }
  }
  .pw-banners .slick-dots {
    right: 4px;
  }
  .pw-banners__button {
    padding: 16px 38px;
  }
  .pw-features {
    padding: 20px 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .pw-features__title {
    margin-bottom: 20px;
  }
  .pw-why {
    padding: 20px 0;
  }
  .pw-why__title {
    margin-bottom: 20px;
  }
  .pw-why__card {
    min-height: 120px;
  }
  .pw-why__card-title {
    padding: 10px 20px;
  }
  .pw-why__card-icon {
    width: 100px;
    height: auto;
  }
  .pw-why__cards {
    justify-content: space-around;
  }
  .pw-features__cards {
    justify-content: space-around;
  }
  .pw-how {
    padding: 20px 0;
  }
  .pw-how__title {
    margin-bottom: 20px;
  }
  .pw-how__cards {
    justify-content: space-around;
  }
  .pw-how__card-image {
    margin-bottom: 10px;
  }
  .pw-reviews {
    padding: 20px 0;
    &__cards {
      .slick-prev {
        left: 10px;
        opacity: 0.5;
        z-index: 10;
      }
      .slick-next {
        right: 10px;
        opacity: 0.5;
        z-index: 10;
      }
    }
  }
  .pw-reviews__title {
    margin-bottom: 20px;
    &:before {
      display: none;
    }
  }
  .pw-beep {
    padding: 20px 0 30px 0;
    background: #ffc000 !important;
    &__title {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .pw-beep input {
    width: 100%;
  }
  .pw-beep button {
    width: 100%;
  }
  .pw-beep__select {
    width: 100%;
  }
  .pw-article {
    padding: 20px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
    &__sub-title {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
  .pw-article__text {
    padding: 0;
  }
  .pw-article__text p {
    margin-bottom: 20px;
  }
  .pw-article__text ul li {
    margin-bottom: 15px;
  }
  .pw-bottom iframe {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .pw-bottom {
    padding-top: 0;
  }
  .pw-bottom__info {
    margin-bottom: 0;
    padding: 10px;
  }
  .pw-footer {
    padding: 0 0 20px 0;
    &__nav {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }
  }
  .pw-article__big-image {
    margin-bottom: 20px !important;
  }
  .h-margin-top-90 {
    margin-top: 20px;
  }
  .pw-article h1,
  .pw-article h2,
  .pw-article h3,
  .pw-article h4,
  .pw-article h5,
  .pw-article h6 {
    margin-bottom: 20px;
  }
  .pw-article__special {
    padding: 15px;
  }
  .pw-article blockquote {
    padding: 0;
    background: none;
  }
  .pw-news {
    padding: 20px 0;
  }
  .pw-news__title {
    margin-bottom: 20px;
  }
  .pw-news__card {
    width: 300px;
    margin: 0 5px 20px 5px;
  }
  .pw-news__card img {
    height: 200px;
  }
  .pw-news__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .pw-price {
    padding: 20px 0;
  }
  .pw-price__title {
    margin-bottom: 20px;
  }
  .pw-price__block {
    margin-bottom: 20px;
  }
  .pw-collapse__button {
    padding: 16px 8px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .pw-how__card_step:after {
    display: none;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}