// bower:scss
// endbower
@font-face {
  src: url('../fonts/GothamProRegular.ttf');
  font-family: "Gotham Pro";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/GothamProLight.ttf');
  font-family: "Gotham Pro";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/GothamProMedium.ttf');
  font-family: "Gotham Pro";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/GothamProBold.ttf');
  font-family: "Gotham Pro";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/GothamProBlack.ttf');
  font-family: "Gotham Pro";
  font-weight: 900;
}

body {
  background-color: #ffffff;
  color: #0b5fa5;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

@import "atoms";
@import "restyle";
@import "responsive";